body {
    background-image: url("images/train.jpg");
}

.container {
    opacity: .85;
}

#schedule {
    text-align: center;
    font-size: 18px;
    color: black;
}

#form {
    font-size: 18px;
    color: black;
}